@charset 'utf-8';

/* reset for pc */
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: ' ';}


/* 전역 변수 설정 */
:root {

}



/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 16px; font-weight: 300; color: #333333; line-height: 1.4; letter-spacing: -0.02em; background-color: #ffffff;}
#wrapper {min-width: 1000px; overflow: hidden; background-color: #f5f5f5;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}
#main {min-height: calc(100vh - 30px);}

/* 로그인페이지 */

body.login {background: url(../img/bg02.jpeg) center center no-repeat; background-size: cover; height: 100vh;}
body.login #wrapper {background-color: transparent;}
body.login #main {height: 100%;}
#login_box {position: absolute; left: 50%; top: 50%; width: 600px; height: 300px; transform: translate(-50%, -50%); border-radius: 10px; background-color: rgba(238, 238, 238, 0.8); box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 20%);}
#login_box > div.deco {position: absolute; top: 0; width: 100%; height: 23px; background-color: yellow; background-color: rgba(59, 59, 59, 0.7); border-radius: 10px 10px 0 0;}
#login_box div.deco > ul {height: 100%; padding: 6px 0 0 10px;}
#login_box div.deco > ul > li {float: left; width: 11px; height: 11px; border-radius: 20px; background-color: rgba(238, 238, 238, 0.7); margin-right: 4px; text-indent: -9999px;}
#login_box div.input_box {width: 100%; height: 60%; margin-top: 23px; }
#login_box div.input_box > h3 {padding: 30px 0 10px 0; font-weight: bold; text-align: center; margin: 0; font-size: 18px;}
#login_box div.input_box > label {display: block; text-align: center;}
#login_box div.input_box > label > input {font-family: 'NotoSansKR'; width: 270px; height: 30px; margin-top: 15px; margin-left: 15px; padding: 3px 0 0 16px; border-radius: 100px; border: none; background-color: #575757;}
#login_box div.input_box > label > input::placeholder { font-size: 16px; color: #cccccc;}
#login_box div.input_box > label > i {vertical-align: text-top; font-size: 24px;}
#login_box div.button_box {padding: 10px 145px; width: 100%; height: 40%;}
#login_box div.button_box > button {display: block; border: none; border-radius: 5px; width: 310px; height: 30px; margin-bottom: 10px; color: #333333; font-size: 16px; font-weight: 500; font-family: inherit; background-color: #909090;}
#login_box div.button_box > a {display: inline-block; width: calc(50% - 5px); height: 30px; background-color: #909090; border-radius: 5px; line-height: 30px; text-align: center; color: #333333; font-size: 16px;}
#login_box div.button_box > a + a {margin-left: 6px;}



#header {position: fixed; left: 0; top: 0; width: 100%; height: 70px; padding: 0 30px; box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2); background: #ffffff; z-index: 1000000;}
#header div.logo {float: left;}
#header div.logo > a.bar {font-size: 22px; line-height: 70px; padding: 10px;}
#header div.logo > a.bar > i {}
#header div.logo > h1 {display: inline-block; margin-left: 20px;}
#header div.logo > h1 > a {display: block;}
#header div.logo > h1 > a > img {margin-right: 10px;}
#header ul {position: absolute; right: 0; top: 50%; transform: translate(-50%, -50%);}
#header ul > li {float: left;}
#header ul > li a {display: block;}
#header ul > li + li {margin-left: 15px;}
#header ul > li:last-child > a {width: 14px; height: 23px;}
#header ul > li:last-child > a > i {position: absolute; line-height: 28px;}
#header ul > li.light i.fa-solid {display: none;}
#header ul > li.light i.fa-regular {display: block;}
#header ul > li.dark i.fa-solid {display: block;}
#header ul > li.dark i.fa-regular {display: none;}

#gnb {position: fixed; left: 0; top: 70px; width: 255px; height: calc(100% - 70px); box-sizing: border-box; overflow-y: auto; background-color: #ffffff; border-right: 1px solid rgba(0, 0, 0, 0.1); transition: all 0.5s; z-index: 10000;}
#gnb div.profile {padding-top: 20px; height: 250px;}
#gnb div.profile > p.circle {position: absolute; left: 50%; transform: translate(-50%, 0); width: 150px; height: 150px;}

#gnb div.profile > h3 {position: absolute; top: 180px; width: 100%; text-align: center;}
#gnb div.profile > h3 > p {font-size: 18px; font-weight: 500;}

nav {color: #505050; }
nav > ul.aside_top {}
nav > ul.aside_top > li {position: relative; height: 37px; overflow: hidden;}
nav > ul.aside_top > li:hover {color: #5bc764;}
nav > ul.aside_top > li.on {color: #5bc764; font-weight: 500; background-color: #f7f7f7;}
nav > ul.aside_top > li.on::before {content: ''; position: absolute; width: 5px; height: 100%; left: 0; background-color: #5bc764;}
nav > ul.aside_top > li > a {display: block; padding: 0 0 5px 25px; line-height: 32px;}
nav > ul.aside_top > li > a > i {font-size: 20px; padding-right: 15px;}
nav > ul.aside_bottom {position: absolute; bottom: 20px; left: 25px;}
nav > ul.aside_bottom > li {line-height: 26px; height: 26px; overflow: hidden;}
nav > ul.aside_bottom > li > a {display: block;}
nav > ul.aside_bottom > li > a > i {padding-right: 10px;}

#gnb.on {width: 70px; overflow: hidden;}
#gnb.on div.profile {padding-top: 20px; height: 100px;}
#gnb.on div.profile > p.circle {position: absolute; left: 50%; transform: translate(-50%, 0); width: 50px; height: 50px; border-radius: 200px; overflow: hidden;}
#gnb.on div.profile > h3 {display: none;}
#gnb.on div.profile > h3 > p {}

#footer {height: 30px; background: #f9f9f9; font-size: 12px; line-height: 30px; text-align: center;}


/* layout */
section.content_container {padding: 100px 30px 30px 285px; transition: padding 0.5s; background-color: #f5f5f5; overflow: hidden;}
section.content_container.on {padding: 100px 30px 30px 100px;}
section.content_container > h3 {font-size: 24px; font-weight: 400;}
section.content_container > h3 + p {font-size: 12px; margin-bottom: 30px;}
section.container_grid {width: 100%; margin-bottom: 30px; display: grid; gap: 10px; grid-template-columns: 1fr;}
section.container_grid > div.grid {position: relative; padding: 10px 20px; min-height: 100px; border: 1px solid #ebebeb; background-color: #ffffff; border-radius: 3px;}
section.container_grid > .title {grid-column: 1 / -1;}
section.container_grid > .span_2 {grid-column: span 2;}
section.container_grid > .span_3 {grid-column: span 3;}
section.container_grid > div > h5 {margin-bottom: 3px;}
section.container_grid > div > p {font-size: 14px;}

section.container_grid.col_2 {grid-template-columns: repeat(2, 1fr);}
section.container_grid.col_3 {grid-template-columns: repeat(3, 1fr);}
section.container_grid.col_4 {grid-template-columns: repeat(4, 1fr);}
section.container_grid.col_4.type_1 > .big {grid-area: 2 / 2 / 4 / 4;}
section.container_grid.col_4.type_2 {}



/* dashboard */
#main.dashboard .content_container > div {}
#main.dashboard .content_container > div + div {}
h5 {font-size: 16px; font-weight: 400;}

section.inner {position: relative; padding: 15px 20px; margin-bottom: 30px; border: 1px solid #e4e4e4; background-color: #ffffff; font-size: 14px; font-weight: 400;}
section.inner > h4 {font-size: 18px; font-weight: 400; margin-bottom: 15px;}
section.inner .thumbnail {position: relative; height: 230px;}
section.inner .thumbnail > span {position: relative; display: block; height: 200px; overflow: hidden;}
section.inner .thumbnail > span > img {position: relative; left: 0; top: 0; width: 100%; min-height: 100%; object-fit: cover;}
section.inner .thumbnail > h5 {position: absolute; bottom: 40px; left: 10px; font-weight: 400; color: #ffffff;}
section.inner .thumbnail > p {margin-top: 10px;}
section.inner > ul {margin: 25px 0 30px;}
section.inner > ul > li {line-height: 14px;}
section.inner > ul > li + li {margin-top: 15px;}
section.inner > ul dl {overflow: hidden;}
section.inner > ul dl dt {float: left;}
section.inner > ul dl dd {float: right;}
section.inner > ul dl dd > em {margin-left: 10px;}
section.inner > ul dl dd > em > i {vertical-align: baseline;}

ul.post {}
ul.post > li {height: 5vh; display: flex;}
ul.post > li > img {width: 20%; margin-right: 20px;}
ul.post > li > p {}
ul.post > li > div {position: relative; width: calc(80% - 20px); height: 100%;}
ul.post > li > div > h4 {padding-top: 3px;}
ul.post > li > div > ul {position: absolute; width: 100%; bottom: 0; background-color: #ffffff;}
ul.post > li > div > ul > li {float: left;}
ul.post > li > div > ul > li > i {margin-right: 5px;}
ul.post > li > div > ul > li + li {margin-left: 20px;}
ul.post > li > div > ul.hover {display: none; height: 100%; padding-top: 11px;}
ul.post > li > div > ul.hover > li {}
ul.post > li > div > ul.hover > li > a {display: block; color: #909090;}
ul.post > li > div > ul.hover > li > a:hover {color: #333333;}
ul.post > li > div > ul.hover > li > a > i {font-size: 24px;}
ul.post > li.on {}
ul.post > li.on > div > ul.hover {display: block;}

div.top-inner {}
div.top-inner > div.title {}
div.top-inner > div.title > p {position: relative; display: inline-block; margin-left: 20px;}
div.top-inner > div.title > p + p::before {content: '·'; position: absolute; left: -1em;}
div.top-inner > div.content {margin: 40px 0 30px;}
div.top-inner > div.content > p {padding-bottom: 25px; border-bottom: 1px solid #e4e4e4;}

div.bottom-inner {}
div.bottom-inner > div {float: left; width: 50%;}
div.bottom-inner > div > span {font-size: 22px; margin: 10px 0 20px; display: inline-block;}
div.bottom-inner > p {margin-bottom: 10px;}

div.achieve {position: relative;}
div.achieve > img {width: 30%;}
div.achieve > div {width: 70%; position: absolute; top: 50%; right: 0; transform: translate(0, -50%); padding-left: 15px;}
div.achieve > div > p:first-child {font-size: 18px; font-weight: 600; margin: 5px 0;}
div.achieve > div > p {}

.analy {}
.analy > div {}
.analy .inner_top {}
.analy .inner_top > p {font-size: 16px;}
.analy .inner_top > span {font-size: 12px;}
.analy .inner_top > span.big_number {display: block; font-size: 32px;}
.analy .inner_middle {padding: 20px 0; margin: 20px 0; border-bottom: 1px solid #e4e4e4; border-top: 1px solid #e4e4e4;}

.analy > div > h5 + span {font-size: 12px;}
.analy .inner_middle > dl {margin-top: 20px; overflow: hidden;}
.analy .inner_middle > dl dt {clear: left; float: left; margin-bottom: 6px;}
.analy .inner_middle > dl dd {float: right;}
.analy .inner_bottom {}
.analy .inner_bottom > ul {margin: 20px 0;}
.analy .inner_bottom > ul > li {margin-bottom: 8px;}
.analy .inner_bottom > ul > li a {position: relative; display: block;}
.analy .inner_bottom > ul > li p {display: inline-block;}
.analy .inner_bottom > ul > li em {position: absolute; right: 0;}

ul.subsc {}
ul.subsc > li {position: relative; height: 5vh;}
ul.subsc > li > p {position: absolute; left: 0; top: 50%; transform: translate(0, -50%);}
ul.subsc > li > span {display: block; padding: 6px 0 0 60px;}
ul.subsc .circle.small2 {width: 40px; height: 40px;}

.news {}
.news > p.square {width: 100%; height: auto; overflow: hidden;}
.news > p.square > img {object-fit: cover;}
.news > h5 {margin: 15px 0;}
.news > h5 + P {margin-bottom: 15px;}
.idea {overflow: hidden;}
.idea > .inner_left {float: left; margin-bottom: 30px; width: calc(100% - 160px);}
.idea h5 {margin: 15px 0;}
.idea p.img.circle {float: right;}
.idea a.link {clear: both;}


/* Analytics */
section.content_container.white {background-color: #ffffff;}
section.lnb {position: relative; padding-top: 20px; border-bottom: 1px solid #e4e4e4;}
section.lnb.on {position: fixed;}
section.content_box {}
div.tab {height: 50px;}
div.tab > ul {overflow: hidden;}
div.tab > ul > li {line-height: 47px; float: left; padding: 0 20px;}
div.tab > ul > li.on {}
div.tab > ul > li > a {display: block; padding: 0 0.5em;}
div.tab > ul > li.on > a {border-bottom: 3px solid #065fd4; font-weight: 500; color: #065fd4;}







/* form design */
body.form section.content_container h3 {margin-bottom: 30px;}
body.form section.content_container section {margin-bottom: 60px;}

.form-box input.text,
.form-box select,
.form-box textarea {display: inline-block; height: 30px; margin: 0; padding: 0; vertical-align: middle; outline: 0; border: 1px solid #dfe8f1; border-radius: 3px; color: #606060; background-color: #ffffff; font-family: inherit; font-size: 13px; transition: all 0.3s; appearance: none; -webkit-appearance: none; box-sizing: border-box;}
.form-box input.text:focus,
.form-box select:focus,
.form-box textarea:focus {border-color: #2C8E53; box-shadow: 0 1px 1px rbga(0, 0, 0, 0.08%), 0 0 8px rgba(141, 224, 175, 0.6); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08%), 0 0 8px rgba(141, 224, 175, 0.6);  }
.form-box input.text {padding: 0 10px; width: 160px;}
.form-box > li input.text {margin-left: 10px;}
.form-box textarea {padding: 10px; height: 120px; width: 100%;}
.form-box input[type="radio"],
.form-box input[type="checkbox"] {position: relative; top: -1px; margin: 0; vertical-align: middle; }
.form-box select {background: url(../img/icon-down.png) right 6px center no-repeat; background-size: 10px auto; padding: 0 25px 0 10px;}
.form-box textarea {padding: 10px; height: 200px; width: 80%;}
.form-box .error {border-color: #FF5252 !important;}
.form-box::placeholder {opacity: 0.7;}

ul.input-list {display: inline-block; vertical-align: middle;}
ul.input-list > li {float: left; position: relative; margin-right: 30px; line-height: 30px;}
.form-box > li + li {margin-top: 5px;}
ul.input-list > li:last-child {margin-right: 0;}
ul.input-list > li label {display: inline-block; padding-left: 5px;}
ul.input-radio {display: inline-block; vertical-align: middle;}
ul.input-radio > li {float: left; position: relative; margin-right: 10px; line-height: 30px;}
ul.input-radio > li:last-child {margin-right: 0;}
ul.input-radio > li label {display: inline-block; padding-left: 5px;}

div.input-inner {display: inline-block; vertical-align: middle; font-size: 13px;}
div.input-inner > * {float: left; border-radius: 0 !important; margin-left: 0 !important;}
div.input-inner > *:first-child {border-top-left-radius: 3px !important; border-bottom-left-radius: 3px !important;}
div.input-inner > *:last-child {border-top-right-radius: 3px !important; border-bottom-right-radius: 3px !important;}
div.input-inner > * + *:not(.btn) {border-left-color: transparent !important;}
div.input-inner > * + *:not(.btn):focus {border-left-color: transparent !important;}
div.input-inner > .btn {min-width: 30px; box-shadow: none;}
div.input-inner label,
div.input-inner span {min-width: 30px; height: 30px; line-height: 28px; box-sizing: border-box; border: 1px solid #dfe8f1; background-color: #dfe8f1; text-align: center; padding: 0 8px;}






/* button */
.btn {position: relative; display: inline-block; min-width: 100px; height: 30px; box-sizing: border-box; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); border: none; background: #ffffff; vertical-align: middle; text-align: center; padding: 0 0.8em; font-family: inherit; font-size: 12px; font-weight: 400; border-radius: 3px; color: #000000; overflow: hidden; appearance: none; -webkit-appearance: none; transition: all 0.3s; cursor: pointer;}
a.btn {line-height: 32px;}
.btn:hover {border: 1px solid rgba(0, 0, 0, 0.4);}
.btn.left {float: left;}
.btn.left + .btn.left {margin-left: 3px;}
.btn.small {min-width: 60px; height: 24px; font-size: 12px; line-height: 22px;}
.btn.regular {min-width: 100px; height: 30px; font-size: 13px; line-height: 26px;}
.btn.large {min-width: 140px; height: 30px; font-size: 15px; line-height: 26px;}

.btn.disable {border: 1px solid #e0e0e0; color: #c0c0c0 ; background-color: #ffffff; box-shadow: none;}
.btn.default {}
.btn.info {color: #ffffff; background-color: #039BE5;}
.btn.reversal {border: 1px solid rbga(0, 0, 0, 0.4); color: #ffffff; background-color: rgba(0, 0, 0, 0.8);}
.btn.warning {color: #ffffff; background-color: #FFB300;}
.btn.negative_empty {color: #FF5252; background-color: #ffffff;}
.btn.negative_full {color: #ffffff; background-color: #FF5252;}
.btn.positive_empty {color: #2C8E53; background-color: #ffffff;}
.btn.positive_full {color: #ffffff; background-color: #2C8E53;}
.btn.palegreen {color: #ffffff; background-color: #98fb98;}
.btn.yellow {color: #c0c0c0; background-color: #FFFF00;}
.btn.darkorange {color: #ffffff; background-color: #ff8c00;}
.btn.darkbrown {color: #ffffff; background-color: #5D4037;}
.btn.junglegreen {color: #ffffff; background-color: #26A69A;}

.btn.labeled-left {padding-left: 2.8em;}
.btn.labeled-left > i {position: absolute; left: 0; top: 0; line-height: 32px; width: 2em; height: 100%; background: rgba(255, 255, 255, 0.3);}
.btn.labeled-left > i::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.labeled-right {padding-right: 2.8em;}
.btn.labeled-right > i {position: absolute; right: 0; top: 0; line-height: 32px; width: 2em; height: 100%; background: rgba(255, 255, 255, 0.3);}
.btn.labeled-right > i::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.icon-left {padding-left: 2.5em;}
.btn.icon-left > i {position: absolute; left: 0; top: 0; width: 2em; height: 100%;}
.btn.icon-left > i::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.icon-right {padding-right: 2.5em;}
.btn.icon-right > i {position: absolute; right: 0; top: 0; width: 2em; height: 100%;}
.btn.icon-right > i::before {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.icon-only {min-width: 0; text-indent: -9999px;}
.btn.icon-only > i {text-indent: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.icon-only.icon-small {width: 28px; height: 28px;}
.btn.icon-only.icon-regular {width: 36px; height: 36px; font-size: 20px;}
.btn.icon-only.icon-large {width: 44px; height: 44px; font-size: 25px;}
.btn.circle {min-width: 0; text-indent: -9999px; border-radius: 100px;}
.btn.circle > i {text-indent: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.btn.circle.circle-small {width: 28px; height: 28px;}
.btn.circle.circle-regular {width: 36px; height: 36px; font-size: 20px;}
.btn.circle.circle-large {width: 44px; height: 44px; font-size: 25px;}
.btn.round {border-radius: 30px;}

div.button-inner::after {content: ''; display: block; clear: both;}
div.button-inner {border: none; margin: 10px 0;}
#main section.container div.button-inner {border: none;}
div.button-inner.left {text-align: left;}
div.button-inner.right {text-align: right;}
div.button-inner.center {text-align: center;}
div.button-inner.justify {text-align: right;}



/* edit */
table.form-box {width: 100%; font-size: 13px; table-layout: fixed; box-sizing: border-box;}
table.form-box td {padding: 10px 10px;}
table.form-box td.th {width: 150px; text-align: right; font-weight: 700; color: #000000;}
table.form-box td.th label em {color: #FF5252; margin-right: 8px;}
table.form-box span.essential {font-size: 12px; color: #FF5252; margin-left: 20px; line-height: 30px;}
table.form-box td.essential-info {text-align: center; background: #e9e9e9;}
table.form-box td.essential-info > span.essential {font-size: 15px;}
table.form-box td.essential-info > span.essential > i {padding-right: 10px; line-height: 20px;}

a.btn-toggle {content: '비동의';display: inline-block; position: relative; height: 38px; width: 80px; border: 2px solid #dfe8f1; border-radius: 100px; box-sizing: border-box; background-color: #ffffff; vertical-align: middle; transition: background-color 0.3s;}
a.btn-toggle label {position: absolute; left: 1px; top: 2px; width: 30px; height: 30px; box-sizing: border-box; border: 1px solid #dfe8f1; border-radius: 100px; background-color: #ffffff; overflow: hidden; text-indent: -9999px; transition: transform 0.5s;}
a.btn-toggle.on {content: '수신동의'; background-color: #5bc764;}
a.btn-toggle.on label {transform: translate(43px, 0);}



.circle {width: 150px; height: 150px; border-radius: 100%; overflow: hidden;}
.circle.small {display: inline-block; width: 30px; height: 30px; border-radius: 100%; overflow: hidden;}
.link {color: #065fd4; display: block; margin-bottom: 10px;}
.up {color: #2C8E53;}














/* 자주쓰는 구문 */

/* font-family: "Font Awesome 5 Free"; font-weight: 600;  */